<nav class="navbar navbar-expand-lg navbar-chillpick">
    <div class="container-fluid">
      <a class="navbar-brand d-flex align-items-center" href="#">
        <img src="../images/logo.png" alt="ChillPick Logo" width:40px height:40px class="logo me-2">
       
      </a>
  
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarLinks">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse justify-content-between" id="navbarLinks">
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
          <li class="nav-item"><a class="nav-link" href="#">Dashboard</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Discover</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Watchlist</a></li>
        </ul>
        <div class="d-none d-lg-block">
          <img src="assets/user-profile.jpg" alt="User" class="profile-pic">
        </div>
      </div>
    </div>
  </nav>
  