<footer class="footer-chillpick" style="background-color: #EBE8D5; color: #5C5757;">
    <nav>
      <a href="/aboutus" style="color: #5C5757;">About Us</a>
      <a href="/contactus" style="color: #5C5757;">Contact Us</a>
      <a href="/faq" style="color: #5C5757;">FAQs</a>
      <a href="/privacypolicy" style="color: #5C5757;">Privacy Policy</a>
    </nav>
    <p>© 2025 ChillPick. All Rights Reserved</p>
  </footer>