<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ChillPick | Home</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../css/app.css">
</head>
<body>

  <%- include('partials/header') %>

  <main class="container py-5">


    <!-- Welcome Section -->
    <div class="welcome-section">
      <h1>Welcome back, Sarah!</h1>
      <p>Here's what we picked for you today</p>
    </div>

    <div class="row">
      <!-- Left Column - Recommendations -->
      <div class="col-lg-8">
        <div class="section-card">
          <div class="section-header">
            <h2 class="section-title">Recommended For You</h2>
            <a href="#" class="see-all">See all</a>
          </div>

          <div class="row p-2">
            <!-- Dune: Part Two -->
            <div class="col-md-3 mb-3">
              <div class="card media-card">
                <img src="../images/Detail/Image/Dune2.png" alt="Dune: Part Two Poster" class="media-image">
                <div class="card-body">
                  <h5 class="card-title">Dune: Part Two</h5>
                  <div class="card-description">Movie • Sci-Fi • 2024</div>
                </div>
              </div>
            </div>

            <!-- The Three-Body Problem -->
            <div class="col-md-3 mb-3">
              <div class="card media-card">
                <img src="../images/Detail/Image/The Three-Body Problem.png" alt="The Three-Body Problem" class="media-image">
                <div class="card-body p-2">
                  <h5 class="card-title">The Three-Body Problem</h5>
                  <div class="card-description">Book • Liu Cixin • 2008</div>
                </div>
              </div>
            </div>

            <!-- A Minecraft Movie -->
            <div class="col-md-3 mb-3">
              <div class="card media-card">
                <img src="../images/Detail/Image/A_Minecraft_Movie_poster.jpg" alt="A Minecraft Movie Poster" class="media-image">
                <div class="card-body p-2">
                  <h5 class="card-title">A Minecraft Movie</h5>
                  <div class="card-description">Movie • Adv-Com • 2025</div>
                </div>
              </div>
            </div>

            <!-- Inside Out 2 -->
            <div class="col-md-3 mb-3">
              <div class="card media-card">
                <img src="../images/Detail/Image/Inside Out 2.png" alt="Inside Out 2" class="media-image">
                <div class="card-body p-2">
                  <h5 class="card-title">Inside Out 2</h5>
                  <div class="card-description">Movie• Com-Fi • 2024</div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <!-- Atomic Habits -->
            <div class="col-md-3 mb-3">
              <div class="card media-card">
                <img src="../images/Detail/Image/Atomic Habits.png" alt="Atomic Habits Book Cover" class="media-image">
                <div class="card-body p-2">
                  <h5 class="card-title">Atomic Habits</h5>
                  <div class="card-description">Book • James Clear • 2018</div>
                </div>
              </div>
            </div>

            <!-- The Creative Act: A Way of Being -->
            <div class="col-md-3 mb-3">
              <div class="card media-card">
                <img src="../images/Detail/Image/The Creative Act.png" alt="The Creative Act" class="media-image">
                <div class="card-body p-2">
                  <h5 class="card-title">The Creative Act: A Way of Being</h5>
                  <div class="card-description">Book • Rick Rubin • 2023</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Right Column - Top 3 Recently Added & Activity -->
      <div class="col-lg-4">
        <!-- Recently Added Section -->
        <div class="section-card">
          <div class="section-header">
            <h2 class="section-title">Recently Added</h2>
            <a href="#" class="see-all">View all</a>
          </div>

          <!-- Ne Zha -->
          <div class="small-media-card">
            <img src="../images/Detail/Image/哪吒.jpg" alt="Ne Zha Movie Poster" class="small-media-image">
            <div class="small-media-info">
              <h5 class="added-title">哪吒之魔童降世 Ne Zha</h5>
              <div class="added-description">Movie</div>
              <div class="plan-to-watch">Plan to watch</div>
            </div>
          </div>
          <hr class="divider">

          <!-- Your Name -->
          <div class="small-media-card">
            <img src="../images/Detail/Image/你的名字.jpeg" alt="Your Name Movie Poster" class="small-media-image">
            <div class="small-media-info">
              <h5 class="added-title">Your Name</h5>
              <div class="added-description">Movie</div>
              <div class="in-progress">In progress</div>
            </div>
          </div>
          <hr class="divider">

          <!-- Totoro -->
          <div class="small-media-card">
            <img src="../images/Detail/Image/龙猫.jpg" alt="Totoro Movie Poster" class="small-media-image">
            <div class="small-media-info">
              <h5 class="added-title">Totoro</h5>
              <div class="added-description">Movie</div>
              <div class="plan-to-watch">Plan to watch</div>
            </div>
          </div>
        </div>

        <!-- Top 3 Recent Activity Section -->
        <div class="section-card">
          <div class="section-header">
            <h2 class="section-title">Recent Activity</h2>
            <a href="#" class="see-all">See all</a>
          </div>

          <!-- Activity 1 -->
          <div class="activity-card">
            <div class="row">
              <div class="col-2">
                <img src="../images/profile_pic.png" alt="profile_pic" class="profile_pic-image">
              </div>
              <div class="col-10">
                <div class="activity-description">Mike rated Dune: Part Two 5 stars</div>
                <div class="activity-time">2 hours ago</div>
              </div>
            </div>
          </div>
          <hr class="divider">

          <!-- Activity 2 -->
          <div class="activity-card">
            <div class="row">
              <div class="col-2">
                <img src="../images/profile_pic.png" alt="profile_pic" class="profile_pic-image">
              </div>
              <div class="col-10">
                <div class="activity-description">Emma added adolescence to their watchlist</div>
                <div class="activity-time">5 hours ago</div>
              </div>
            </div>
          </div>
          <hr class="divider">

          <!-- Activity 3 -->
          <div class="activity-card">
            <div class="row">
              <div class="col-2">
                <img src="../images/profile_pic.png" alt="profile_pic" class="profile_pic-image">
              </div>
              <div class="col-10">
                <div class="activity-description">You reviewed The Three-Body Problem</div>
                <div class="activity-time">1 day ago</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </main>

  

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <%- include('partials/footer') %>
</body>

</html>